/* 全網站樣式設定 */
/* 此檔案為desktop & tablet的全站RWD設定 */

:root {
    --s_width: 600px;
    --m_width: 768px;
    --l_width: 992px;
    --xl_width: 1200px;
    /* 使用方法：一般狀況使用中間三種就好，字的大小則可分五種 */
    /* 超小型裝置 max-width: var(--s_width); */
    /* 小型裝置 min-width: var(--s_width); */
    /* 中型裝置 min-width: var(--m_width); */
    /* 大型裝置 min-width: var(--l_width); */
    /* 超大型裝置 min-width: var(--xl_width); */
}