/* 全網站樣式設定 */
/* 此檔案為desktop & tablet的全站RWD設定 */

:root {
    --s_width: 480px;   /* 手機裝置 max-width */
    --m_width: 768px;   /* 平板裝置 min-width */
    --l_width: 1200px;   /* 電腦裝置 min-width */
    /* 使用方法：一般狀況使用中間三種就好，字的大小則可分五種 */
    /* 超小型裝置 max-width: var(--s_width); */
    /* 小型裝置 min-width: var(--s_width); */
    /* 中型裝置 min-width: var(--m_width); */
    /* 大型裝置 min-width: var(--l_width); */
    /* 超大型裝置 min-width: var(--xl_width); */
}

/* 阿姿複製用 */
.tablet,
.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .desktop,
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
}

/* 手機 */
@media (max-width: 767px) {
  .desktop,
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
}