body{
  background-color: #f8f1dc;
}

/* Loading 背景 */
#loading {
  position: fixed;
  inset: 0;
  background-color: #f8f1dc;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* 內容 */
.loading-content {
  text-align: center;
  color: #E60000;
  font-family: "Chiron GoRound TC";
  font-size: 36px;
}

/* 糖果動畫 */
.loading-content img {
  width: 120px;
  animation: spin 1.2s infinite linear;
}

/* 轉轉動畫 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-content p::after {
  content: "";
  animation: dots 2s infinite;
}

@keyframes dots {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

#loading {
  transition: opacity 0.5s ease;
}

.gacha {
  text-align: center;
  margin: 100px auto;
}

.machine {
  position: relative;
  width: 500px;
  margin: 0 auto 20px;
}

.machine-img {
  width: 100%;
  padding-bottom: 10%;
  padding-right: 30%;
}

.candy {
  position: absolute;
  transform-box: fill-box;
  transform-origin: center center;
  pointer-events: auto;
  top: 40%;
  left: 50%;
  width: 40%;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* 抽的時候 */
.candy.is-rolling {
  animation: dropSpin 1.2s ease-out forwards;
}

@keyframes dropSpin {
  0% {
    opacity: 0;
    transform: translate(-150%, -50%) rotate(0deg);
  }
  30% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translate(80%, -50%) rotate(720deg);
  }
}

button {
  padding: 10px 24px;
  font-size: 18px;
  border-radius: 999px;
  border: none;
  background: #e60000;
  color: white;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: #e60000;
}

.like {
  margin-top: 10px;
  font-size: 16px;
  color: #E3B400;
  line-height: 1.5;
}
