/* Loading 背景 */
#loading {
  position: fixed;
  inset: 0;
  background-color: #f8f1dc;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* 內容 */
.loading-content {
  text-align: center;
  color: #E60000;
  font-family: "Chiron GoRound TC";
  font-size: 36px;
}

/* 糖果動畫 */
.loading-content img {
  width: 120px;
  animation: spin 1.2s infinite linear;
}

/* 轉轉動畫 */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-content p::after {
  content: "";
  animation: dots 2s infinite;
}

@keyframes dots {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

#loading {
  transition: opacity 0.5s ease;
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  display: block;
  /* 移除圖片底部可能的多餘空間 */
  width: 100%;
  height: auto;
}

/* picture 高度 */
.banner-bg img {
  width: 100%;
  height: auto;
  display: block;
}

/* 糖果共同設定 */
.banner-candy {
  position: absolute;
  transform-box: fill-box;
  transform-origin: center center;
  /* transition: transform 0.6s ease; */
  pointer-events: auto;
  /* 開啟鼠標互動，不要的時候none */
  animation: wiggle 1.6s ease-in-out infinite;
}

/* 滑鼠靠近 */
.banner-candy:hover {
  animation: spin 1.2s infinite linear;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  75% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* 電腦 糖果位置設定 */
@media (min-width: 1200px) {
  .banner-candy.c1 {
    position: absolute;
    top: 12%;
    left: 5%;
    transform: translate(0%, 0%);
    width: 20%;
    height: auto;
  }

  .banner-candy.c2 {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(0%, 0%);
    width: 10%;
    height: auto;
  }

  .banner-candy.c3 {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(0%, 0%);
    width: 25%;
    height: auto;
  }

  .banner-candy.c4 {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(0%, 0%);
    width: 13%;
    height: auto;
  }

  .banner-candy.c5 {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(0%, 0%);
    width: 18%;
    height: auto;
  }

  .banner-candy.c6 {
    position: absolute;
    top: 70%;
    left: 53%;
    transform: translate(0%, 0%);
    width: 18%;
    height: auto;
  }

  .banner-candy.c7 {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(0%, 0%);
    width: 16%;
    height: auto;
  }

  .banner-candy.c8 {
    position: absolute;
    top: 62%;
    left: 18%;
    transform: translate(0%, 0%);
    width: 12%;
    height: auto;
  }

  .banner-candy.c9 {
    position: absolute;
    top: 52%;
    left: 5%;
    transform: translate(0%, 0%);
    width: 13%;
    height: auto;
  }
}

/* 平板 糖果位置設定 */
@media (max-width: 1199px) and (min-width: 768px) {
  .banner-candy.c1 {
    position: absolute;
    top: 12%;
    left: 5%;
    transform: translate(0%, 0%);
    width: 25%;
    height: auto;
    transform-origin: center center;
  }

  .banner-candy.c2 {
    position: absolute;
    top: 13%;
    left: 33%;
    transform: translate(0%, 0%);
    width: 13%;
    height: auto;
  }

  .banner-candy.c3 {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(0%, 0%);
    width: 30%;
    height: auto;
  }

  .banner-candy.c4 {
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(0%, 0%);
    width: 16%;
    height: auto;
  }

  .banner-candy.c5 {
    position: absolute;
    top: 55%;
    left: 78%;
    transform: translate(0%, 0%);
    width: 20%;
    height: auto;
  }

  .banner-candy.c6 {
    position: absolute;
    top: 73%;
    left: 53%;
    transform: translate(0%, 0%);
    width: 25%;
    height: auto;
  }

  .banner-candy.c7 {
    position: absolute;
    top: 70%;
    left: 33%;
    transform: translate(0%, 0%);
    width: 20%;
    height: auto;
  }

  .banner-candy.c8 {
    position: absolute;
    top: 62%;
    left: 13%;
    transform: translate(0%, 0%);
    width: 17%;
    height: auto;
  }

  .banner-candy.c9 {
    position: absolute;
    top: 43%;
    left: 3%;
    transform: translate(0%, 0%);
    width: 17%;
    height: auto;
  }
}

/* 手機 糖果位置設定 */
@media (max-width: 767px) {

  /* c7 */
  .banner-candy.c1 {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(0%, 0%);
    width: 40%;
    height: auto;
    transform-origin: center center;
  }

  /* c5 */
  .banner-candy.c2 {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(0%, 0%);
    width: 23%;
    height: auto;
  }

  /* c9 */
  .banner-candy.c3 {
    position: absolute;
    top: 77%;
    left: 25%;
    transform: translate(0%, 0%);
    width: 53%;
    height: auto;
  }

  /* c8 */
  .banner-candy.c4 {
    position: absolute;
    top: 70%;
    left: 5%;
    transform: translate(0%, 0%);
    width: 24%;
    height: auto;
  }

  /* c4 */
  .banner-candy.c5 {
    position: absolute;
    top: 23%;
    left: 32%;
    transform: translate(0%, 0%);
    width: 33%;
    height: auto;
  }

  /* c6 */
  .banner-candy.c6 {
    position: absolute;
    top: 60%;
    left: 13%;
    transform: translate(0%, 0%);
    width: 35%;
    height: auto;
  }

  /* c1 */
  .banner-candy.c7 {
    position: absolute;
    top: 7%;
    left: 12%;
    transform: translate(0%, 0%);
    width: 33%;
    height: auto;
  }

  /* c2 */
  .banner-candy.c8 {
    position: absolute;
    top: 5%;
    left: 57%;
    transform: translate(0%, 0%);
    width: 25%;
    height: auto;
  }

  /* c3 */
  .banner-candy.c9 {
    position: absolute;
    top: 23%;
    left: 5%;
    transform: translate(0%, 0%);
    width: 25%;
    height: auto;
  }
}

/* 標題位置設定 */
.banner-anim {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.banner-anim.tablet,
.banner-anim.mobile {
  display: none;
}

.banner-anim.desktop {
  display: block;
}

/* 平板標題 */
@media (max-width: 1199px) and (min-width: 768px) {

  .banner-anim.desktop,
  .banner-anim.mobile {
    display: none;
  }

  .banner-anim.tablet {
    display: block;
  }
}

/* 手機標題 */
@media (max-width: 767px) {

  .banner-anim.desktop,
  .banner-anim.tablet {
    display: none;
  }

  .banner-anim.mobile {
    display: block;
  }
}

.title {
  opacity: 0;
  transform: translate(0%, 0%);
  transform-box: fill-box;
  transform-origin: center;
}

/* 當 body 有 page-loaded 時，裡面的 .title 才開始跑動畫 */
body.page-loaded .title {
  animation: fadeUp 0.4s ease-out forwards;
}

/* 重新設定延遲時間 (Delay) */
body.page-loaded .t1 {
  animation-delay: 0.6s;
  /* 第一行字 */
}

body.page-loaded .t2 {
  animation-delay: 0.8s;
  /* 第二行字 */
}

body.page-loaded .t3 {
  animation-delay: 1s;
  /* 第三行字 */
}

body.page-loaded .t4 {
  animation-delay: 1.2s;
  /* 第四行字 */
}

/* fadeUp 關鍵影格保持不變 */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.block_1 {
  position: relative;
  /* 設定為相對定位 */
  width: 100%;
  overflow: hidden;
  /* 確保內容不會溢出 */
}

.bg img {
  display: block;
  /* 移除圖片底部可能的多餘空間 */
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .block_1 .jar {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 5%;
    left: 3%;
    width: 45%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .candy {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .cap {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 60%;
    left: 5%;
    width: 23%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .red {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 25%;
    left: 50%;
    width: 7%;
    transform: translate(0%, 0%);
    height: auto;
    pointer-events: auto;

    /* 一開始藏在左邊 */
    transform: translate(-150%, -50%) rotate(-360deg);
  }

  .block_1 .green {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 70%;
    left: 40%;
    width: 10%;
    transform: translate(0%, 0%);
    height: auto;
    pointer-events: auto;

    /* 一開始藏在左邊 */
    /* transform: translate(-150%, -50%) rotate(-360deg); */
    transition: transform 0.4s ease;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .block_1 .jar {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 5%;
    left: 3%;
    width: 50%;
    transform: translateX(-180px) rotate(30deg);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .candy {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 60%;
    left: 45%;
    width: 55%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .cap {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 55%;
    left: 10%;
    width: 25%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .red {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 20%;
    left: 65%;
    width: 9%;
    transform: translate(0%, 0%);
    height: auto;
    pointer-events: auto;

    /* 一開始藏在左邊 */
    transform: translate(-150%, -50%) rotate(-360deg);
  }

  .block_1 .green {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 75%;
    left: 35%;
    width: 12%;
    transform: translate(-50%, -50%);
    height: auto;
    pointer-events: auto;

    /* 一開始藏在左邊 */
    /* transform: translate(-150%, -50%) rotate(-360deg); */
    transition: transform 0.4s ease;
  }

}

@media (max-width: 767px) {
  .block_1 .jar {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 5%;
    left: 3%;
    width: 45%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .candy {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    width: 45%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .cap {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 60%;
    left: 5%;
    width: 23%;
    transform: translateX(-180px);
    height: auto;
    pointer-events: auto;
  }

  .block_1 .red {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 25%;
    left: 50%;
    width: 7%;
    transform: translate(0%, 0%);
    height: auto;
    pointer-events: auto;

    /* 一開始藏在左邊 */
    transform: translate(-150%, -50%) rotate(-360deg);
  }

  .block_1 .green {
    opacity: 0;
    position: absolute;
    inset: 0;
    top: 70%;
    left: 40%;
    width: 10%;
    transform: translate(0%, 0%);
    height: auto;
    pointer-events: auto;

    /* 一開始藏在左邊 */
    /* transform: translate(-150%, -50%) rotate(-360deg); */
    transition: transform 0.4s ease;
  }
}

.block_1 .green:hover {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* 初始狀態（還沒進畫面） */
.js-animate {
  opacity: 0;
  transform: translateX(-180px);
}

/* 進畫面後 */
body.page-loaded .js-animate.is-visible.jar {
  animation: slideInLeft 0.8s ease-out forwards;
}

body.page-loaded .js-animate.is-visible.candy {
  animation: slideInLeft 0.6s ease-out forwards;
}

body.page-loaded .js-animate.is-visible.cap {
  animation: slideInLeft 0.6s ease-out forwards;
}

body.page-loaded .js-animate.is-visible.red {
  animation: slideInLeft 1.1s ease-out forwards;
  /* animation: candy-slide-spin 1.6s cubic-bezier(.22,.61,.36,1) forwards; */
}

body.page-loaded .js-animate.is-visible.green {
  animation: slideInLeft 0.7s ease-out forwards;
  /* animation: candy-slide-spin 1.6s cubic-bezier(.22,.61,.36,1) forwards; */
}

.block_1 .green {
  transition: transform 0.4s ease;
}

/* 
.block_1 .green:hover {
  transform: translate(-50%, -50%) rotate(360deg);
} */

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-180px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes candy-slide-spin {
  0% {
    transform: translate(-150%, -50%) rotate(-540deg);
  }

  70% {
    transform: translate(-55%, -50%) rotate(-40deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


/* 手機 */
.block_1 p {
  position: absolute;
  /* 設定為絕對定位 */
  top: 47%;
  /* 垂直從頂部下移 47% */
  left: 50%;
  /* 水平從左側右移 50% */
  transform: translate(-50%, -50%);
  /* 將文字自身也位移 50% 以置中 */
  color: #E60000;
  font-size: 23px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
  /* 確保文字層級高於圖片 */
  width: 80%;
  /* 讓文字不會貼到邊緣 */
  line-height: 1.5;
}

@media screen and (min-width: 768px) {

  /* 平板 */
  .block_1 p {
    font-size: 30px;
    top: 40%;
    left: 55%;
  }
}

@media screen and (min-width: 1200px) {

  /* 電腦 */
  .block_1 p {
    font-size: 36px;
    top: 30%;
    left: 50%;
    line-height: 2;
  }
}

.block_2 {
  position: relative;
  /* 設定為相對定位 */
  width: 100%;
  overflow: hidden;
  /* 確保內容不會溢出 */
}

.block_2 img {
  display: block;
  /* 移除圖片底部可能的多餘空間 */
  width: 100%;
  height: 100%;
}

/* 手機 */
.block_2 p {
  position: absolute;
  /* 設定為絕對定位 */
  top: 50%;
  /* 垂直從頂部下移 50% */
  left: 45%;
  /* 水平從左側右移 45% */
  transform: translate(-50%, -50%);
  /* 將文字自身也位移 50% 以置中 */
  color: #FFFFFF;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  z-index: 10;
  /* 確保文字層級高於圖片 */
  width: 80%;
  /* 讓文字不會貼到邊緣 */
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .block_2 p {
    font-size: 30px;
    top: 52%;
    left: 48%;
  }
}

@media screen and (min-width: 1200px) {

  /* 電腦 */
  .block_2 p {
    font-size: 36px;
    top: 55%;
    left: 50%;
    line-height: 2;
  }
}

.block_3 {
  position: relative;
  /* 設定為相對定位 */
  width: 100%;
  overflow: hidden;
  /* 確保內容不會溢出 */
}

.block_3 img {
  display: block;
  width: 100%;
  height: 100%;

}

/* 手機 */
.block_3 p {
  position: absolute;
  /* 設定為絕對定位 */
  top: 54%;
  /* 垂直從頂部下移 54% */
  left: 50%;
  /* 水平從左側右移 50% */
  transform: translate(-50%, -50%);
  /* 將文字自身也位移 50% 以置中 */
  color: #E60000;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  /*設定文字在自身區塊內的置中對齊。*/
  z-index: 10;
  /* 確保文字層級高於圖片 */
  width: 60%;
  /* 讓文字不會貼到邊緣 */
  background-color: rgba(255, 250, 225, 0.7);
  padding: 40px 0px;
  border-radius: 30px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {

  /* 平板 */
  .block_3 p {
    font-size: 35px;
    top: 50%;
    left: 50%;
    width: 58%;
    /* 讓文字不會貼到邊緣 */
    padding: 40px 0px;
  }
}

@media screen and (min-width: 1200px) {

  /* 電腦 */
  .block_3 p {
    font-size: 40px;
    top: 45%;
    left: 50%;
    line-height: 1.5;
    width: 40%;
    /* 讓文字不會貼到邊緣 */
    padding: 50px 0px;
  }
}

.aboutus {
  position: relative;
  /* 設定為相對定位 */
  width: 100%;
  overflow: hidden;
  /* 確保內容不會溢出 */
}

.aboutus img {
  display: block;
  width: 100%;
  height: 100%;
}

.aboutus_text {
  position: absolute;
  /* 設定為絕對定位 */
  transform: translate(-50%, -50%);
  /* 將文字自身也位移 50% 以置中 */
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  line-height: 1.5;
  z-index: 10;
  /* 確保文字層級高於圖片 */
  width: 80%;
  /* 讓文字不會貼到邊緣 */
  padding-left: 0px;
  padding-right: 0px;
}

.aboutus_p {
  display: none;
}

/* 手機 */
@media (max-width: 767px) {
  .aboutus_text {
    top: 26%;
    left: 50%;
    font-size: 20px;
    line-height: 1.8;
    text-align: right;
  }

  .aboutus_p.mobile {
    display: block;
  }
}

/* 平板 */
@media (min-width: 768px) and (max-width: 1199px) {
  .aboutus_text {
    top: 49%;
    left: 57%;
    font-size: 24px;
    line-height: 2;
  }

  .aboutus_p.tablet {
    display: block;
  }
}

/* 電腦 */
@media (min-width: 1200px) {
  .aboutus_text {
    top: 50%;
    left: 57%;
    font-size: 30px;
    line-height: 2;
  }

  .aboutus_p.desktop {
    display: block;
  }
}

.aboutus_text {
  opacity: 0;
  transition: opacity 1.2s ease-out;
}

.fade-in {
  opacity: 1;
}

.fade-target {
  opacity: 0;
  transition: opacity 1.2s ease-out;
}

.fade-target.fade-in {
  opacity: 1;
}

.content {
  overflow: visible;
  /* 確保可被偵測 */
}

.gacha {
  text-align: center;
  margin: 100px auto;
}

.machine {
  position: relative;
  width: 500px;
  margin: 0 auto 20px;
}

.machine-img {
  width: 100%;
}

.candy {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 25%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* 抽的時候 */
.candy.is-rolling {
  animation: dropSpin 1.2s ease-out forwards;
}

@keyframes dropSpin {
  0% {
    opacity: 0;
    transform: translate(-50%, -150%) rotate(0deg);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 80%) rotate(720deg);
  }
}

button {
  padding: 20px 34px;
  font-size: 18px;
  border-radius: 999px;
  border: none;
  background: #e60000;
  color: white;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: #e60000;
}