.banner{
    width: 100%;
}

.banner img {
    display: block; /* 移除圖片底部可能的多餘空間 */
    width: 100%;    
    height: auto;   
}

.block_1 {
    position: relative; /* 設定為相對定位 */
    width: 100%;
    overflow: hidden; /* 確保內容不會溢出 */
}

.block_1 img {
    display: block; /* 移除圖片底部可能的多餘空間 */
    width: 100%;
    height: 100%;

}

.block_1 p {
    position: absolute; /* 設定為絕對定位 */
    top: 30%;           /* 垂直從頂部下移 30% */
    left: 50%;          /* 水平從左側右移 50% */
    transform: translate(-50%, -50%); /* 將文字自身也位移 50% 以置中 */
    color: #E60000; 
    font-size: 36px; 
    font-weight: bold;
    text-align: right;
    z-index: 10; /* 確保文字層級高於圖片 */
    width: 80%; /* 讓文字不會貼到邊緣 */
    line-height: 2;
}

@media screen and (max-width: 765px) {
  .block_1 p {
    font-size: 26px;
    top: 50%;
    left: 55%;
  }
}

.block_2 {
    position: relative; /* 設定為相對定位 */
    width: 100%;
    overflow: hidden; /* 確保內容不會溢出 */
}

.block_2 img {
    display: block; /* 移除圖片底部可能的多餘空間 */
    width: 100%;
    height: 100%;

}

.block_2 p {
    position: absolute; /* 設定為絕對定位 */
    top: 60%;           /* 垂直從頂部下移 60% */
    left: 45%;          /* 水平從左側右移 30% */
    transform: translate(-50%, -50%); /* 將文字自身也位移 50% 以置中 */
    color: #FFFFFF; 
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    z-index: 10; /* 確保文字層級高於圖片 */
    width: 80%; /* 讓文字不會貼到邊緣 */
    line-height: 2;
}

@media screen and (max-width: 765px) {
  .block_2 p {
    font-size: 26px;
    top: 47%;
    left: 45%;
  }
}

.block_3 {
    position: relative; /* 設定為相對定位 */
    width: 100%;
    overflow: hidden; /* 確保內容不會溢出 */
}

.block_3 img {
    display: block;
    width: 100%;
    height: 100%;

}

.block_3 p {
    position: absolute; /* 設定為絕對定位 */
    top: 45%;           /* 垂直從頂部下移 45% */
    left: 50%;          /* 水平從左側右移 50% */
    transform: translate(-50%, -50%); /* 將文字自身也位移 50% 以置中 */
    color: #E60000;
    font-size: 40px;
    font-weight: bold;
    text-align: center; /*設定文字在自身區塊內的置中對齊。*/
    z-index: 10; /* 確保文字層級高於圖片 */
    width: 55%; /* 讓文字不會貼到邊緣 */
    background-color: rgba(255, 250, 225, 0.7);
    padding: 50px 0px;
    border-radius: 30px;
    line-height: 1.5;
}

.aboutus{
    position: relative; /* 設定為相對定位 */
    width: 100%;
    overflow: hidden; /* 確保內容不會溢出 */
}

.aboutus img {
    display: block;
    width: 100%;
    height: 100%; 
}

.aboutus_text {
    position: absolute; /* 設定為絕對定位 */
    top: 50%;           /* 垂直從頂部下移 50% */
    left: 57%;          /* 水平從左側右移 57% */
    transform: translate(-50%, -50%); /* 將文字自身也位移 50% 以置中 */
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    line-height: 2;
    z-index: 10; /* 確保文字層級高於圖片 */
    width: 80%; /* 讓文字不會貼到邊緣 */
}

.aboutus_text {
  opacity: 0;
  transition: opacity 1.2s ease-out;
}

.fade-in {
  opacity: 1;
}

.content {
  overflow: visible; /* 確保可被偵測 */
}