.banner{
    width: 100%;
}

.banner img {
    display: block; /* 移除圖片底部可能的多餘空間 */
    width: 100%;    
    height: auto;   
}

.banner2 {
    position: relative; /* 設定為相對定位 */
    width: 100%;
    overflow: hidden; /* 確保內容不會溢出 */
}

.banner2 img {
    display: block;
    width: 100%;
    height: 100%;

}

.banner2 p {
    position: absolute; /* 設定為絕對定位 */
    top: 50%;           /* 垂直從頂部下移 50% */
    left: 50%;          /* 水平從左側右移 50% */
    transform: translate(-50%, -50%); /* 將文字自身也位移 50% 以置中 */
    color: #E60000;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    z-index: 10; /* 確保文字層級高於圖片 */
    width: 80%; /* 讓文字不會貼到邊緣 */
}

.container {
  width: 85%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 兩欄 */
  gap: 40px 60px; /* 上下40px、左右60px 間距 */
  justify-content: center;

}

/* 卡片樣式 */
.movie-card {
  display: flex;
  /*align-items: flex-start;*/
  align-items: flex-start; /* 改成靠上對齊 */
  justify-content: flex-start; /* 內容從左開始排列 */
  background-color: #fff9e6;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 陰影 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 滑鼠移上去有輕微浮起效果 */
.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.movie-card.active-card {
  transform: translateY(-10px) scale(1.03); /* 稍微放大一點 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* 陰影更明顯 */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* 左邊圖片 */
.movie-card img {
  width: 150px;
  height: 210px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

/* 右邊文字 */
.movie-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie-text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #E60000;
  margin-bottom: 10px;
}

.movie-text p {
  font-size: 16px;
  line-height: 1.8;
  color: #000;
  margin: 0;
}