.banner {
    width: 100%;
}

.banner img {
    display: block;
    /* 移除圖片底部可能的多餘空間 */
    width: 100%;
    height: auto;
}

.block_1 {
    position: relative;
    /* 設定為相對定位 */
    width: 100%;
    overflow: hidden;
    /* 確保內容不會溢出 */
}

.block_1 img {
    display: block;
    width: 100%;
    height: 100%;

}

.block_1 p {
    position: absolute;
    /* 設定為絕對定位 */
    top: 50%;
    /* 垂直從頂部下移 50% */
    left: 50%;
    /* 水平從左側右移 50% */
    transform: translate(-50%, -50%);
    /* 將文字自身也位移 50% 以置中 */
    color: #E60000;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    /* 確保文字層級高於圖片 */
    width: 80%;
    /* 讓文字不會貼到邊緣 */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 100px;
}


.orderform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 750px;
    height: auto;
    background-color: rgba(208, 27, 27, 0.7);
    /* 背景 */
    border-radius: 15px;
    margin: 60px auto;
    /* 置中 */
    padding: 40px 50px;
}

.mb-3 {
    margin-bottom: 30px !important;
    /*css蓋過bookstrap*/
}

/* 標籤文字 */
.form-label {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    color: #FDFFE9;
}

/* 輸入框統一樣式 */
.orderform input[type="text"],
.orderform input[type="email"],
.orderform input[type="tel"],
.orderform input[type="date"],
.orderform select {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
}

/* 日期欄位特別樣式 */
.orderform input[type="date"] {
    width: auto;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 500;
}

/* 下拉選單與張數顯示 */
.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orderform .input-group select {
    flex: 1;
}

.orderform .input-group .input-group-text {
    background-color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
}

/* 按鈕樣式 */
.orderform .btn {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #e6c337;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}