.main {
    background-color: #d4433e;
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  display: block;
  /* 移除圖片底部可能的多餘空間 */
  width: 100%;
  height: auto;
}

/* picture 決定高度（關鍵） */
.banner-bg img {
  width: 100%;
  height: auto;
  display: block;
  /* 消掉 img 底下神秘白邊 */
}

/* 動畫層只是「貼上去」 */
.banner-anim {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* 不影響滑鼠 */
}

.title {
  opacity: 0;
  transform: translateY(20px);
  transform-box: fill-box;
  transform-origin: center;
  animation: fadeUp 0.8s ease-out forwards;
}

.t1 {
  animation-delay: 0.4s;
}

.t2 {
  animation-delay: 0.6s;
}

.t3 {
  animation-delay: 0.8s;
}

.t4 {
  animation-delay: 1s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 手機：2 個 */
    gap: 24px;
    /* 手機間距小一點 */
    padding: 40px 20px;
    /* 手機留左右 padding */
    justify-items: center;
    /* 卡片置中 */
}

@media (min-width: 1200px) {
    .product-row {
        grid-template-columns: repeat(3, 1fr);
        /* 電腦：3 個 */
        gap: 60px;
        padding: 80px 0;
    }
}

.product-card {
    width: 100%;
    max-width: 290px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 初始狀態 */
    opacity: 0;
    transform: translateY(30px);

    transition:
        opacity 0.5s ease,
        transform 0.5s ease;
}

/* 出現後 */
.product-card.show {
    opacity: 1;
    transform: translateY(0);
}

/* 文字在上面 */
.product-card p {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 22px;
    color: #fdffe9;
    letter-spacing: 2px;
}

/* 圖片固定大小 */
.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;
    /* 讓圖片放大/縮小有動畫效果 */
}

/* 圖片內容容器：用來作為浮層的定位參考點，並控制溢出隱藏 */
.product-content {
    width: 290px;
    height: 341px;
    /* 圖片的固定高度 */
    position: relative;
    /* 設定為定位父容器 */
    overflow: hidden;
    /* 圖片放大時，超出範圍的部分會被隱藏 */
    border-radius: 8px;
}

.product-desc {
    margin-top: 12px;
    font-size: 15px;
    color: #FDFFE9;
    line-height: 1.4;
}

@media (hover: hover) {
    .product-card:hover {
        transform: translateY(-5px);
    }

    .product-card:hover img {
        transform: scale(1.05);
    }
}


.product-line {
    width: 90%;
    max-width: calc(290px * 3 + 60px * 2);
    height: 5px;
    background-color: #FDFFE9;
    border: none;
    margin: 10px auto 0;
    border-radius: 10px;
}